.text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
  
    /* Action/Blue */
  
    color: #3c5261;
  }

.text.invalid {
    border-color: #aa0b20;
    background-color: #ffeff1;
}

.error {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ed684e;
}