.selectors {
    box-sizing: border-box;
    width: 136.94px;
    flex: 1;
margin-left: 5px;
}

body {
  background-color: #e5e5e5;
}

.selectors.unselected {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  padding: 20px 40px 15px 40px;
  text-align: center;


}

.selectors.selected {
  box-sizing: border-box;
  background: #dbeffa;
  border: 4px solid #3cabaa;
}

.group96 {
display: flex;
margin: 35px 0px;
}

.label {
  position: absolute;
  width: 861px;
  left: 41px;
  top: 43px;

  /* Large Displays/body-small */

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #0a3049;
}

.error {
  width: 861px;
/*height: 24px;*/

  /* Large Displays/body-small */

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #ed684e;
}

/* .formControl {
  position: relative;
max-width: 728px;
  background: #ffffff;
  padding: 45px;
margin: 0px auto;
} */

.text {
  position: absolute;
  left: 16px;
  right: 15.94px;
  top: 0%;
  bottom: 0%;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  /* Brand/Secondary */

  color: #0a3049;
}
